body{
    margin: 0 auto;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    background-color: #fbf3ea;
    color: #40383b;
    font-size: 1.5rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #fbf3ea;
    width: 100%;
    position:relative;
    z-index: 1;
    height: 7rem;
}

.logo{
    color: #F25224;
    align-self: center;
    padding-left: 2rem;
    font-family: 'Gloock', serif;
}
header h1{
    font-size: 5rem;
}
nav{
    align-self: center;
    padding-right: 2rem;
}

nav li{
    display: inline;
    padding-left:  1rem;
    font-size: 20px;
    font-size: 1.2rem;

}

nav a{
    color: #40383b;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
/*
.grid-container{
    display: grid;
    width: 100px;
    grid-template-columns: 6fr;
    grid-gap: 10px 10px;
}*/

main{
    /*display:block;*/
    /*padding-top: 7rem;*/
    margin: 0 2rem;
    position: relative;
}   

footer{
    background-color: #f8e9d8;
    margin: 0;
    width: 100%;
    height: 14rem;
}
#linke{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#footnotes {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

#footnotes p{
    padding-left: 2rem;
}

#footer h3{
    padding-left: 2rem;
}

#footer{
    color: #40383b;
        justify-content: space-around;
}
#footnotes nav li a{
    font-size: 1rem;
}

.banner{
    background-color: #f8e9d8;
    justify-content: space-between;
    display: flex;
    margin: 0 -2rem;
    height: 36rem;
    align-items: center;

}

.banner img{
    border-radius: 2rem;
    border: 1rem solid #EDB403;
    margin-right: 2rem
}
#titel {
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    width: 40%;
    margin: 1rem 0rem;
    
}



.abschnitt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 40rem;
}

#werbinich p{
    display: flex;
    width: 40%;
    text-align: justify;
}

#werbinich h2{
    flex-wrap: wrap;
    display: flex;
}

h2{
    
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    color:#4973B1
}

.banner p{
    padding: 0 2rem;
    font-size: 2rem;
}
.banner #personalphoto{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.auflistung{
    width: 40%;
}

.whenwhatlist li{
    text-align: justify;
}

#zertifikate{
    display:block;
    height:auto;
    padding:0;

    
}

#zertifikatscheine{
    align-content: flex-start;
    
}

#zertifikate img{
    width: 30%;
    height:auto;
    margin:0.5rem;
    border-radius: 3rem;
    border: 0.5rem solid #EDB403;
    


}

/*
font-family: 'Gloock', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
*/