/*{
}*/

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: black;
    width: 100%;
    position:fixed;
    z-index: 1;
    height: 7rem;
}

header h1{
    color: white;
    margin-left: 2rem;
    align-self: center;
    font-size: 40px;
}

.nav-menu{
    margin-right:  2rem ;
    align-self: center;
}

.nav-menu li{
    display: inline;
    margin-right:  2rem;
    font-size: 20px;

}

.nav-menu a{
    color: white;
    text-decoration: none;
    
}
/*
.grid-container{
    display: grid;
    width: 100px;
    grid-template-columns: 6fr;
    grid-gap: 10px 10px;
}*/

main{
    display:block;
}   